
h1{
	font-family: "Arial", sans-serif;
color: #0d2c00;
letter-spacing: 5px;
font-weight: 400;
font-size: 40px;
margin:0;
}
body{
	text-align: center;
	margin:0;


}
.test{
	font-family: "Raleway", sans-serif;
	color: #f15b31;
	letter-spacing: 3px;
	font-weight: 600;
	font-size: 18px;
}
.texttrans{
	text-transform: uppercase;
text-decoration: none;

}

header{
	background-color: #f15b31;
	color:#ffffff;
	padding:30px 20px;

}
nav{
	background-color: #00a6b3;
	color: #ffffff;
	padding:20px 20px;

}
a{ margin:20px; 
color:#ffffff;
border-bottom: 2px solid transparent;
}
a:hover{
	border-color: white;
}
main{
	width: 850px;
	margin:35px auto;
}
img{
	margin: 40px 8px;
}

footer{
	text-transform: uppercase;
	padding:0 20px;
	background-color: #0d2c40;
	color: white;
	font-size: 14px;
	letter-spacing: .08em;
	font-weight: 500;
}
.copyright{

font-family: Raleway;
float: left;

}
.message{
	font-family: Releway;
	float: right;
}
.clearfix:after {
visibility: hidden;
display: block;
content: " ";
clear: both;
height: 0;
font-size: 0;
}
.name{
	color: #f15b31;
	font-weight: 700;
}